<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="A simple docker helloworld example by Tom S.">
        <meta name="author" content="Tom S.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hello world...</title>
        <link rel="icon" type="image/png" href="favicon.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script src="logic.js"></script>
    </head>
    <body onload="init(); updateVisit(); updateClock(); setInterval('updateClock()', 1000)">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Docker Helloworld</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="https://github.com/thoschu/io.server360.web.js.express.helloworld" target="_blank">About</a></li>
                        <li><a href="https://hub.docker.com/r/thoschu/helloworld/" target="_blank">Image</a></li>
                        <li><a href="https://www.thomas-schulte.de/disclaimer.html#impressum" target="_blank">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container theme-showcase" role="main">
            <div class="jumbotron">
                <h1>Hello</h1>
                <p>Is it me you're looking for?</p>
                <div class="panel panel-default">
                    <div class="panel-heading">window.location.host</div>
                    <div id="host" class="panel-body"></div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">window.location.pathname</div>
                    <div id="pathname" class="panel-body"></div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">window.location.origin</div>
                    <div id="origin" class="panel-body"></div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">hostname</div>
                    <div id="hostname" class="panel-body">{{hostname}}</div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">internal ip</div>
                    <div id="lipandipv" class="panel-body">{{lip}} - v{{ipv}}</div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">networkInterfaces</div>
                    <div id="networkInterfacesKey" class="panel-body">
                        <pre><code>{{networkInterfaces}}</code></pre>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">puplic ip of the node</div>
                    <div id="puplicip" class="panel-body">{{puplicip}}</div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">id of the process / workerId # number of cpus</div>
                    <div id="pipandnumberofcpus" class="panel-body">{{pid}} / {{workerId}} # {{numberofcpus}}</div>
                </div>

                <div class="panel panel-default">
                    {{#if nodename}}
                    <div class="panel-heading">node name</div>
                    <div id="nodename" class="panel-body">{{nodename}}</div>
                    {{/if}}
                </div>

                <div class="panel panel-default">

                </div>

            </div>
            <hr/>
            <div class="footer">
                <p>2018 Tom S.,&nbsp;Visits:&nbsp;<span id="visits">&nbsp;</span>,&nbsp;&nbsp;<span id="clock">&nbsp;</span></p>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.1/js.cookie.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </body>
</html>